.mini-navbar {
    z-index: 50;
    background-color: rgba(39, 48, 67, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 75px;
    height: 50px; width: 30%;
    right: 25px;
    transition-duration: 0.2s;
    border-radius: 20px;
    opacity: 1;
    transition-duration: 0.4s;  
}

.mini-navbar-shadow {
  box-shadow: 0 0 5px 0 rgba(0,0,0,1);
}

.mini-active a {
    font-size: 16px;
}

.mini-nav-item {
    opacity: 1;
    top: 5px;
    height: 40px;
    position: relative;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px; padding-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.mini-nav-item a {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.mini-nav-item a:hover {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.photo-grid {
    position: relative;
    margin: auto;
    display: flow-root;
    width: calc(90% - mod(90%, 280px));
}

.photo-card {
    overflow: hidden;
    position: relative;
    background-color: rgb(39, 48, 67);
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.5);
    margin: 20px;
    float: left;
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.photo-card img {
    border-radius: 10px;
}