.context {
  /* position: relative; */
  z-index: 100;
  background-color: rgba(39, 48, 67, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 300px;
  right: -250px;
  top: 75px;
  height: 50px;
  color: white;
  border-radius: 25px;
  padding-top: 5px; padding-bottom: 15px;
  transition-duration: 0.2s;
  /* transition: height 0.6s ease; */
  transition: all 0.6s ease;
  overflow: hidden;
}

.context div {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.context-expanded {
  right: 25px;
  height: 295px;
}

.context-expanded div {
  opacity: 1;
}

.context-shadow {
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}

.context-info {
  padding: 0 25px;
}

.context p {
  font-size: 0.8em;
}

.asset-grid {
  position: relative;
  margin: auto;
  display: flow-root;
  width: calc(90% - mod(90%, 310px));
}

.asset-card {
  position: relative;
  background-color: rgb(39, 48, 67);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.5);
  margin: 5px;
  float: left;
  height: 250px;
  width: 300px;
  border-radius: 20px;
}

.asset-card img {
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.asset-info {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(39, 48, 67);
  text-align: center;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  transition: height 0.4s ease-out;
}

.asset-info h4 {
  margin-top: 15px;
}

.asset-info p {
  opacity: 0;
  color: white;
  text-align: left;
  padding: 0 20px;
  font-size: 0.9em;
  transition: opacity 0.4s ease-out;
}

.asset-info a {
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease-out;
}

.asset-info-expanded {
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 100%;
  border-radius: 20px;
}

.asset-info-expanded p {
  opacity: 1;
}

.asset-info-expanded a {
  opacity: 1;
}

.in-progress {
  color: #fde68a;
  transition-duration: 0.4s;
}

.asset-info > .in-progress:hover {
  font-size: 1.1em;
  text-shadow: 0 5px 5px rgba(251,255,36,0.5);
}

.updating {
  color: #38bdf8;
  transition-duration: 0.4s;
}

.asset-info > .updating:hover {
  font-size: 1.1em;
  text-shadow: 0 5px 5px rgba(56,189,248,0.5);
}

.released {
  color: #10b981;
  transition-duration: 0.4s;
}

.asset-info > .released:hover {
  font-size: 1.1em;
  text-shadow: 0 5px 5px rgba(16,185,129,0.5);
}

.description {
  width: 75%;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-out;
}

.description-inner {
  overflow: hidden;
  display: flex;
}

.description-inner p {
  margin-top: 0;
  padding: 0 10px;
}

.description-inner img {
  border-radius: 20px;
}