body {
  margin: 0;
  font-family: 'Verdana', monospace;
  background-color: #fdfdfd;
  color: #111;
  padding-top: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #203250;
  padding: 10px 10px;
  z-index: 1000;
}

.logo {
  float: left;
  margin-right: 10px;
}

.logo img {
  border-radius: 50%;
}

.option {
  box-sizing: border-box;
  margin-right: 10px;
  float: left;
  border-radius: 10px;
  height: 40px;
  align-content: center;
}

.option:hover {
  background-color: #101928;
}

.option a {
  padding: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: normal;
}

.selected {
  /* background-color: black; */
  border-style: solid;
  border-width: 0;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #ffffff;
  border-top-color: #203250;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.description {
  padding: 0 20px;
  display: none;
}

.show-hide {
  color: #0000EE;
  float: right;
  border: none;  
  background: none;
  text-decoration: none;
  font-size: 16px;
}

.show-hide:hover {
  text-decoration: underline;
}

.footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
}
