.photo-grid {
    position: relative;
    margin: auto;
    display: flow-root;
    width: calc(90% - mod(90%, 400px));
}

.photo-card-h {
    overflow: hidden;
    position: relative;
    background-color: rgb(39, 48, 67);
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.5);
    margin: 20px;
    float: left;
    height: 240px;
    width: 360px;
    border-radius: 10px;
}

.photo-card-v {
    overflow: hidden;
    position: relative;
    background-color: rgb(39, 48, 67);
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.5);
    margin: 20px;
    float: left;
    height: 240px;
    width: 160px;
    border-radius: 10px;
}

.photo-card-h img {
    border-radius: 10px;
}

.photo-card-v img {
    border-radius: 10px;
}

.photo-info {
    color: white;
    opacity: 0;
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.photo-info:hover {
    opacity: 1;
    backdrop-filter: brightness(50%) blur(10px);
}

.photo-info h3 {
    font-size: 1em;
}
